# Cloudflare Tunnel - routes public hostnames to internal services
# 
# SECRETS REQUIRED (create before applying):
#   kubectl create secret generic cloudflared-creds \
#     --namespace=cloudflared \
#     --from-file=credentials.json=~/.cloudflared/<TUNNEL_ID>.json
#
# Credentials stored in: ~/.cloudflared/6e8a2363-c60c-469a-a94b-1fc1ecdade1a.json
# Tunnel ID: 6e8a2363-c60c-469a-a94b-1fc1ecdade1a
#
# To add new hostnames:
#   1. Add ingress rule below
#   2. Apply this manifest
#   3. Run: cloudflared tunnel route dns <TUNNEL_ID> <hostname>
---
apiVersion: v1
kind: Namespace
metadata:
  name: cloudflared
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflared-config
  namespace: cloudflared
data:
  config.yaml: |
    tunnel: 6e8a2363-c60c-469a-a94b-1fc1ecdade1a
    credentials-file: /etc/cloudflared/credentials.json
    no-autoupdate: true
    ingress:
      - hostname: claw.fords.cloud
        service: http://host.docker.internal:18789
      - hostname: forgejo.fords.cloud
        service: http://forgejo-gitea-http.forgejo.svc.cluster.local:3000
      - hostname: grafana.fords.cloud
        service: http://grafana.grafana.svc.cluster.local:3000
      - hostname: vault.fords.cloud
        service: http://vault.vault.svc.cluster.local:8200
      - hostname: sso.fords.cloud
        service: http://keycloak.keycloak.svc.cluster.local:8080
      - hostname: ldap.fords.cloud
        service: http://lldap.lldap.svc.cluster.local:17170
      - service: http_status:404
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared
  namespace: cloudflared
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cloudflared
  template:
    metadata:
      labels:
        app: cloudflared
    spec:
      containers:
      - name: cloudflared
        image: cloudflare/cloudflared:latest
        args:
        - tunnel
        - --config
        - /etc/cloudflared/config.yaml
        - run
        volumeMounts:
        - name: config
          mountPath: /etc/cloudflared/config.yaml
          subPath: config.yaml
          readOnly: true
        - name: credentials
          mountPath: /etc/cloudflared/credentials.json
          subPath: credentials.json
          readOnly: true
        resources:
          requests:
            cpu: 50m
            memory: 64Mi
          limits:
            cpu: 200m
            memory: 128Mi
      volumes:
      - name: config
        configMap:
          name: cloudflared-config
      - name: credentials
        secret:
          secretName: cloudflared-creds
