apiVersion: v1
kind: Namespace
metadata:
  name: cloudflared
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflared-creds
  namespace: cloudflared
type: Opaque
data:
  credentials.json: eyJBY2NvdW50VGFnIjoiNzdiNWU3NmMzNzJkNTUxNDdkYzQxMjBlMGZhMThhZjUiLCJUdW5uZWxTZWNyZXQiOiJUMFBvajN5UVVaZDdGc1RTRWd2dUZ2OVZDR29vK1U3ekFhR1RkQ3ptRWZNPSIsIlR1bm5lbElEIjoiNmU4YTIzNjMtYzYwYy00NjlhLWE5NGItMWZjMWVjZGFkZTFhIiwiRW5kcG9pbnQiOiIifQ==
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflared-config
  namespace: cloudflared
data:
  config.yaml: |
    tunnel: 6e8a2363-c60c-469a-a94b-1fc1ecdade1a
    credentials-file: /etc/cloudflared/credentials.json
    no-autoupdate: true
    ingress:
      - hostname: claw.fords.cloud
        service: http://host.docker.internal:18789
      - hostname: forgejo.fords.cloud
        service: http://forgejo-gitea-http.forgejo.svc.cluster.local:3000
      - hostname: grafana.fords.cloud
        service: http://grafana.grafana.svc.cluster.local:3000
      - hostname: vault.fords.cloud
        service: http://vault.vault.svc.cluster.local:8200
      - service: http_status:404
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared
  namespace: cloudflared
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cloudflared
  template:
    metadata:
      labels:
        app: cloudflared
    spec:
      containers:
      - name: cloudflared
        image: cloudflare/cloudflared:latest
        args:
          - tunnel
          - --config
          - /etc/cloudflared/config.yaml
          - run
        volumeMounts:
          - name: config
            mountPath: /etc/cloudflared/config.yaml
            subPath: config.yaml
            readOnly: true
          - name: creds
            mountPath: /etc/cloudflared/credentials.json
            subPath: credentials.json
            readOnly: true
      volumes:
        - name: config
          configMap:
            name: cloudflared-config
        - name: creds
          secret:
            secretName: cloudflared-creds
